@model Projeto.Models.Banco

<div class="card">
    <div class="card-body">

        <div class="alert alert-primary" role="alert">
            <h6>@ViewBag.Mensagem</h6>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">Código</h6>
                        <h6> @Model.Idbanco</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">Nome</h6>
                        <h6>@Model.NomeSistema</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">CNPJ</h6>
                        <h6>@Model.Cnpj</h6>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div class="form-row">
            <div class="form-group col-md-2">
                <a asp-action="CreateOrUpdate" asp-controller="BancoPercentual" asp-route-nomeBanco="@Model.NomeSistema"
                    class="btn btn-primary botao-primario">
                    Cadastrar Percentuais
                </a>
            </div>
            <div class="form-group col-md-2">
                <a asp-action="Index" class="btn btn-light">
                    Fechar
                </a>
            </div>
        </div>

    </div>
</div>
