@using Projeto.Util
@model PaginatedList<Projeto.Models.User>

<!--========== ESSA TABELA É CHAMADA NO FORMULARIO Index  -->
<table class="table table-hover">
    <thead>
        <tr>
            <th>Usuário</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Username</td>
                <td>
                    <a asp-action="LiberarAcessoConfirmar" asp-route-id="@item.Id" class="icon-liberar">
                        <i class="fa fa-unlock-alt fa-lg" aria-hidden="true"></i>
                    </a>
                    <a asp-action="ExcluirPedidoAcesso" asp-route-id="@item.Id" class="icon-excluir">
                        <i class="fa fa-trash fa-lg"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


<!-- ////////////////// Controle de paginação ///////////////////////-->
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    var prev = Model.PageIndex - 1;
    var next = Model.PageIndex + 1;
}

<nav aria-label="Page navigation example">
    <ul class="pagination" id='paginacao-banco' data-url="@Url.Action("BuscaDinamica","Banco")">
        <li class="page-item @prevDisabled">
            <a class="page-link" href="#" onclick="Paginacao(@prev)" tabindex="-1">Previous</a>
        </li>
        <li class="page-item @nextDisabled">
            <a class="page-link" href="#" onclick="Paginacao(@next)">Next</a>
        </li>
        <li class="page-item">
            <input type="text" id="numero-pagina" class="page-link" style="width: 5em;">
        </li>
        <li class="page-item">
            <button class="page-link" onclick="NumeroPagina('@Model.TotalPages')">Ir</button>
        </li>
    </ul>
    <div style="margin-left: 3em;">
        Página @Model.PageIndex de @Model.TotalPages
    </div>
</nav>
